<div class="main-container">
  <div class="header">

    <h2>Contacts</h2>
    <h4 style="color: gray;">Lets have a look at your friends</h4>
  </div>
  <div class="body">

    <div class="grid">
      <div class="grid-item">
        <div class="custom-card">
          <div class="custom-card-header">
            <div class="header-name">
              Contact Name
            </div>
          </div>
          <div class="custom-card-content">Content</div>
          <div class="custom-card-footer"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="footer">

  </div>
</div>
