<div style="position: relative; overflow-x: hidden">
  <div class="main-container">
    <!-- Chat container -->
    <div class="chat-container">

      <div class="flex-container">

        <mat-drawer-container class="nav-container" autosize>
          <img [src]="profileUrl" alt="">
          <div class="content">
            <div class="nav-header">
              <img [src]="profileUrl" alt="testttt">
              <!-- <div class="profile-pic">
                <div class="profile-icon" [ngClass]="{ 'online': true }"></div>
                <div class="auto-profile">
                  {{(currentUser?.name[0] + currentUser?.name[1]) | uppercase}}
                </div>
              </div> -->
            </div>
            <div class="nav-menu-list">
              <!-- <mat-icon> list_alt</mat-icon> -->
              <span class="nav-icon" routerLink="/Chat/message" routerLinkActive="nav-icon-active">
                <img src="../../../assets/images/Vector.svg"  alt="">
              </span>
              <!-- <mat-icon>dock</mat-icon>
              <mat-icon>phone_iphone</mat-icon>
              <mat-icon>smartphone</mat-icon>
              <mat-icon>menu</mat-icon>
              <mat-icon>refresh</mat-icon> -->
              <span class="nav-icon" routerLink="/Chat/contacts" routerLinkActive="nav-icon-active">
                <img src="../../../assets/images/contacts_icon.svg"  alt="">
              </span>
              <!-- <mat-icon [ngClass]="{ 'menu-active': contactsDrawOpen }" (click)="contactsDrawOpen = !contactsDrawOpen">
                <span #contactListTrigger>
                  group
                </span>
              </mat-icon> -->
              <span class="nav-icon" routerLink="/Chat/friend-requests" routerLinkActive="nav-icon-active">
                <img src="../../../assets/images/friend-request 1.svg"  alt="">
              </span>
              <!-- <mat-icon [ngClass]="{ 'menu-active': isFriendRequestsModalOpen }" [matBadge]="receivedFriendRequests.length" matBadgeColor="accent" (click)="openFriendRequestsModal()">group_add</mat-icon> -->
              <!-- <mat-icon>person_add</mat-icon> -->
              <!-- <mat-icon>people</mat-icon>
              <mat-icon>person</mat-icon> -->
              <!-- <mat-icon>settings</mat-icon> -->
            </div>
            <div class="nav-footer"><mat-icon (click)="logout()" >exit_to_app</mat-icon></div>
          </div>
        </mat-drawer-container>

      </div>

      <div style="width: 100%;">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>

  <!-- Bot modal container -->
  <div appOutsideClickListener [toggleTrigger]="botModalEleRef" (clickedOutside)="toggleBot()" class="chat-bot-modal" [ngStyle]="
      isBotModalOpen
        ? { opacity: '1' }
        : {
            color: 'red',
            'background-color': 'yellow',
            transform: 'translate(200%, -50%)'
          }
    ">
    <div class="bot-modal-container">
      <div class="modal-header">
        <img class="modal-close-button" src="../assets/images/close.png" alt="" (click)="isBotModalOpen = !isBotModalOpen" />
      </div>
      <div class="modal-body">
        <div class="robot-chat-space">
          <div class="robot-chat-box-container">
            <div class="robot-chat-box">
              {{ chatBotMessage }}
            </div>
          </div>
          <div class="user-chat-space">
            <input placeholder="text here..." [(ngModel)]="robotMessageModel" class="user-chat-input" type="text" (keyup)="$event.keyCode === 13 && sendMessageToBot()" />
          </div>
        </div>
        <div class="robot-icon-space">
          <img class="robot-icon" src="../assets/images/robot.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- Add friends modal -->
  <app-add-friends-modal [isModalOpen]="isAddFriendsModalOpen" [SearchArray]="addFriendsSearchArray" (modalStatusEventEmitter)="changeAddFriendsModalState($event)"></app-add-friends-modal>

  <!-- Friend requests modal -->
  <app-friend-requests-modal [isModalOpen]="isFriendRequestsModalOpen" [friendRequests]="receivedFriendRequests" (modalStatusEventEmitter)="changeFriendRequestsModalState($event)"></app-friend-requests-modal>
</div>
