<div style="position: relative; overflow-x: hidden">
  <div class="main-container">
    <!-- Chat container -->
    <div class="chat-container">

      <div *ngIf="isMenuBarVisible" class="flex-container" style="transition: 0.25s ; position: relative;" [ngStyle]="(navBarOpen && coreService.screenSize <= 768) ? {width: '100%'}: navBarOpen?{width: '250px'} : {width: '100px'}">

        <div style="transition: 0.25s" (click)="navBarOpen=false" class="close-wrapper">
          <mat-icon *ngIf="navBarOpen" style="color: #f8f9fa;" matBadgeColor="accent">keyboard_arrow_left</mat-icon>
        </div>
        <mat-drawer-container style="transition: 0.25s" [ngStyle]="(navBarOpen && coreService.screenSize <= 768) ? {width: '100%'}: navBarOpen?{width: '250px'} : {width: '100px'}" class="nav-container" [ngClass]="{ 'nav-container-open': navBarOpen }" autosize>
          <div class="content">
            <div class="hamburger">
              <div class="dots-container" (click)="navBarOpen=!navBarOpen">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
            </div>
            <div class="nav-header">
              <div [matMenuTriggerFor]="menu" class="profile-pic">
                <div *ngIf="chatService.currentUser.profilePicture?.isProfileUploaded && profileUrl" class="profile-picture-wrap">
                  <img [src]="profileUrl">
                </div>
                <div *ngIf="!(chatService.currentUser.profilePicture?.isProfileUploaded && profileUrl)" class="auto-profile">
                  {{(currentUser?.name[0] + currentUser?.name[1]) | uppercase}}
                </div>
                <div class="profile-icon" [ngClass]="{ 'online': true }"></div>
              </div>
              <mat-menu #menu="matMenu" xPosition="after">
                <button (click)="toggleProfilePictureModal(true)" mat-menu-item>
                  <mat-icon>file_upload</mat-icon>
                  <span>Upload profile</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>logout</mat-icon>
                  <span>Logout</span>
                </button>
              </mat-menu>
              <div class="user-info">
                <span class="user-name">{{chatService.currentUser?.name}}</span>
                <span class="user-phone">{{chatService.currentUser?.phone}}</span>
              </div>
            </div>
            <div class="nav-menu-list">
              <div class="nav-icon" routerLink="/Chat/Social-feed" routerLinkActive="nav-icon-active">
                <mat-icon style="color: #f8f9fa;" matBadgeColor="accent">add_to_photos</mat-icon>
                <div class="text">Feed</div>
              </div>
              <div class="nav-icon" routerLink="/Chat/message" routerLinkActive="nav-icon-active">
                <mat-icon style="color: #f8f9fa;" matBadgeColor="accent">chat</mat-icon>
                <div class="text">Chats</div>
              </div>
              <div class="nav-icon" routerLink="/Chat/contacts" routerLinkActive="nav-icon-active">
                <mat-icon style="color: #f8f9fa;" matBadgeColor="accent">contacts</mat-icon>
                <div class="text">Contacts</div>
              </div>
              <div class="nav-icon" routerLink="/Chat/friend-requests" routerLinkActive="nav-icon-active">
                <mat-icon style="color: #f8f9fa;" [matBadge]="friendRequestsCount" matBadgeColor="accent">group_add</mat-icon>
                <div class="text">Friend Requests</div>
              </div>
              <div class="nav-icon" routerLink="/Chat/Settings" routerLinkActive="nav-icon-active">
                <mat-icon style="color: #f8f9fa;" matBadgeColor="accent"> <mat-icon style="color: #f8f9fa;" matBadgeColor="accent">settings</mat-icon>
                </mat-icon>
                <div class="text">Settings</div>
              </div>
            </div>
            <div class="nav-footer"><mat-icon (click)="logout()">exit_to_app</mat-icon></div>
          </div>
        </mat-drawer-container>

      </div>

      <div style="transition: 0.25s;" [ngStyle]="(coreService.screenSize <= 768 && navBarOpen)?{width: '0%'}: navBarOpen ? {width: 'calc(100% - 250px)'} : {width: 'calc(100% - 100px)'}">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>

  <!-- Bot modal container -->
  <div appOutsideClickListener [toggleTrigger]="botModalEleRef" (clickedOutside)="toggleBot()" class="chat-bot-modal" [ngStyle]="
      isBotModalOpen
        ? { opacity: '1' }
        : {
            color: 'red',
            'background-color': 'yellow',
            transform: 'translate(200%, -50%)'
          }
    ">
    <div class="bot-modal-container">
      <div class="modal-header">
        <img class="modal-close-button" src="../assets/images/close.png" alt="" (click)="isBotModalOpen = !isBotModalOpen" />
      </div>
      <div class="modal-body">
        <div class="robot-chat-space">
          <div class="robot-chat-box-container">
            <div class="robot-chat-box">
              {{ chatBotMessage }}
            </div>
          </div>
          <div class="user-chat-space">
            <input placeholder="text here..." [(ngModel)]="robotMessageModel" class="user-chat-input" type="text" (keyup)="$event.keyCode === 13 && sendMessageToBot()" />
          </div>
        </div>
        <div class="robot-icon-space">
          <img class="robot-icon" src="../assets/images/robot.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- Add friends modal -->
  <app-add-friends-modal [isModalOpen]="isAddFriendsModalOpen" [SearchArray]="addFriendsSearchArray" (modalStatusEventEmitter)="changeAddFriendsModalState($event)"></app-add-friends-modal>
  <app-profile-upload [modalOpenStatus]="profilePictureModalOpen" (actionEmitter)="toggleProfilePictureModal($event)"></app-profile-upload>
</div>
