.main-container {
  height: 100vh;
  width: 100vw;
}
.chat-container{
  display: flex;
  flex-direction: row;
  background: #f9f9f9;
  gap: 10px;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.contacts-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #263238;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(169 169 169 / 20%);
  padding: 5px;
}
.chat-header{
  padding: 15px 5px;
  width: 100px;
  color: #fff;
  font-family: system-ui;
  font-size: 16px;
}
.chat-list {
  height: 600px;
  overflow-y: scroll;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.chat-list::-webkit-scrollbar{
    display: none;
}
.contact {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: 1000ms;
  font-family: system-ui;
  padding: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 10%);
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #fff;
}
.contact:hover{
  background-color: #fff;
  color: #263238;
  gap: 5px;
  transition: .5s all ease-in-out;
}
.logout{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 5px;
    text-align: center;
    width: 230px;
    margin: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    .logoutbut{
      transition: .5s all ease-in-out;
    }
    img{
      width: 25px;
      // opacity: 0;
      transition: .5s all ease-in-out;
      margin-top: 5px;
    }

    &:hover{
      .logoutbut{
        letter-spacing: 1px;
      }
      img{
        // transform: translateX(-40px);
        transform: scale(1.5);
        opacity: 1;
      }
    }
}
.button-container{
  position: relative;
  // width: 150px;
  height: 60px;
  transition: .25s all ease-in;
  width: fit-content;
  &:hover{
    .tooltip{
      opacity: 1;
    }
  }
  img{
    width: 100px;
    height: 100px;
    transition: .5s all ease-in-out;
  }

  .tooltip{
    position: absolute;
    top: -70px;
    background: #FF4;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
  }

}
.message-block {
  height: calc(100% - 140px);
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  position: relative;
  overflow-y: scroll;
  padding: 20px 50px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-image: url('../assets/images/Background.max-1300x1300.jpg');
  position: relative;

  &::-webkit-scrollbar{
    display: none;
  }

  .message-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .sent-message-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .message {
    position: relative;
    max-width: 450px;
    background-color: #dff1d9;
    padding: 10px;
    overflow-wrap: break-word;
    min-width: 100px;
    border-radius: 0 12px 12px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  }

  .sent-message {
    position: relative;
    max-width: 450px;
    background-color: #fff;
    padding: 10px;
    overflow-wrap: break-word;
    min-width: 100px;
    border-radius: 12px 0 12px 12px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  }
}


.login-container {
  height: 100%;
  background: linear-gradient(to right, grey, white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.login-input {
  padding: 15px 10px;
  width: 260px;
  border: none;
  outline: none;
  color: gray;
  border-radius: 5px;
  height: auto;
  font-style: italic;
  transition: 500ms;
  z-index: 1;
  font-size: large;
}

.login-input:focus {
  padding: 20px 15px;
  width: 280px;
  border: 1px solid grey;
  border-radius: 7px;
  box-shadow: 5px 10px gray;
}

.login-button {
  padding: 10px 10px;
  width: 275px;
  border: none;
  outline: none;
  color: white;
  background: cornflowerblue;
  border-radius: 5px;
  height: auto;
  font-style: italic;
  transition: 500ms;
  z-index: 1;
  font-size: large;
}

.login-button:hover {
  opacity: 75%;
  color: whitesmoke;
  cursor: pointer;
}

.login-input-container {
  position: relative;
  width: 500px;
  display: flex;
  justify-content: center;
  font-size: large;
}

.login-error-container {
  position: absolute;
  top: -54px;
  border: 1px solid #b80b22ad;
  padding: 10px 10px;
  color: #b80b22ad;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.signUp-button {
  padding: 10px 10px;
  width: 275px;
  border: none;
  outline: none;
  color: white;
  background: grey;
  border-radius: 5px;
  height: auto;
  font-style: italic;
  transition: 500ms;
  z-index: 1;
  font-size: large;
}

.signUp-button:hover {
  opacity: 75%;
  color: whitesmoke;
  cursor: pointer;
}


.chat-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(169 169 169 / 50%);
}
.chat-profile {
  width: 100%;
  background: #263238;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  color: #fff;
  font-size: 16px;

  img{
    width: 50px;
    height: 50px;
  }
  .profilehd{

  }
}

.chat-text-box {
  height: 50px;
  padding: 5px 10px 5px 25px;
  border: none;
  background: #eee;
  outline: none;
  font-size: 16px;
  margin: auto;
  width: 1069px;
  display: block;
  border-radius: 70px;
}

.chat-text-box-wrapper {
  padding: 10px;
}

.spacer {
  height: 70px;
  width: 20px;
}

.chat-init-image {
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/chatBackground.png');
}
