<div *ngIf="isLoggedIn" style="display: flex; flex-direction: row">
  <div style="display: flex; flex-direction: column">
    <div
      class="contact"
      *ngFor="let user of contactsList"
      (click)="selectedUserHandler(user)"
    >
      {{ user.name }}
    </div>
  </div>
  <div style="display: flex; flex-direction: column; margin-left: 172px">
    <div *ngIf="selectedUser">
      <h3>
        {{ selectedUser.name }}
      </h3>
    </div>
    <br />
    <!-- <div *ngFor="let item of messageArray">
      <p>{{ item?.message }}</p>
    </div> -->
    <div class="message-block">
      <div
        class="message"
        [ngClass]="user.user === currentUser.name ? 'sent-message' : 'message'"
        *ngFor="let user of messageArray"
      >
        {{ user.message }}
      </div>
      <br />
    </div>
    <br />
    <div>
      <input
        type="text"
        placeholder="type the text....."
        [(ngModel)]="messageText"
        (keyup)="$event.keyCode === 13 && sendMessage()"
      />
    </div>
  </div>
</div>

<div *ngIf="!isLoggedIn">
  <input
    type="text"
    placeholder="enter your phone number"
    [(ngModel)]="phone"
  />
  <br />
  <button (click)="login()">Login</button>
</div>
