<div style="padding-left: 200px; padding-right: 100px" class="main-container flex-al-c-jc-center">
  <!-- <div *ngIf="componentStatus === 'loading'" class="loading-icon">
    <div class="loader-container">
      <div class="loader"></div>
    </div>
  </div> -->
  <img class="login-image" src="../../../assets/images/3350440.png " alt="" />
  <div class="h-100 w-100 main-background p-2 flex-al-c-jc-end">
    <div class="login-container">
      <div class="header">
        <div class="image-container">
          <img src="../../../assets/images/Screenshot 2023-01-30 185648 (1).png" alt="" />
        </div>
        <div class="nav-buttons">
          <button routerLink="/Authenticate/Login" class="login" routerLinkActive="active" >Login</button>
          <button routerLink="/Authenticate/Sign-up"  class="signUp" routerLinkActive="active">Sign Up</button>
        </div>
      </div>

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
