
<div class="main-container">
  <div class="header">
    <h2 style="color: #f8f9fa;">Friend Requests</h2>
    <h4 style="color: #9b9999;">Lets check if you have any firend requests</h4>
  </div>
  <div class="body">
    <div class="grid">
      <div *ngFor="let request of friendRequests" class="grid-item">
        <div class="custom-card">
          <div class="custom-card-header">
            <div class="header-name">
              {{request?.name}}
              <div class="sub-header">
                +91 {{request.phone}}
              </div>
            </div>
          </div>
          <div class="custom-card-content">
            <img *ngIf="imageUrls[request?._id]?.length" class="profile-pic" [src]="imageUrls[request?._id]" alt="">
            <img *ngIf="!(imageUrls[request?._id]?.length)" class="profile-pic" src="../../../assets/images/blank-profile-picture-973460_1280-300x300.jpg" alt="">
          </div>
          <div class="actions">
            <button class="action-button accept" (click)="acceptFriend(request, true)">Accept</button>
            <button class="action-button reject" (click)="acceptFriend(request, false)">Reject</button>
          </div>
          <div class="custom-card-footer"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="footer">

  </div>
</div>
