.main-container {
  height: 100%;
  width: 100%;
  background: #e6e7ea;
  padding: 3%;
  overflow-y: auto;

  .body {
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      padding: 10px;
      gap: 5px;

      .grid-item {
        .custom-card {
          background-color: #ffffff;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          position: relative;
          overflow: hidden;
          transition: transform 0.25s;
          height: 300px;
          width: 300px;
          // height: 100%;

          .custom-card-header {
            // transform: translateY(-50px);
            transition: transform 0.5s ease;

            height: 20%;

            .header-name {
              padding: 10px 15px;
              font-size: large;
              font-weight: 500;

              .sub-header {
                font-size: 10px;
                color: gray;
              }
            }
          }

          .custom-card-content {
            height: 80%;
            width: 100%;
          }

          .actions {
            width: 100%;
            height: 100%;
            border: 1px solid;
            position: absolute;
            top: 100%;
            opacity: 0;
            display: flex;
            justify-content: flex-end;
            background: #00000091;
            padding: 10px;
            transition: .25s;
            gap: 4px;

            .action-button {
              cursor: pointer;

              width: 50%;
              height: 40px;
              color: #fff;
              background-color: #db2020;
              border-radius: 4px;
              text-decoration: none;
              transition: opacity 0.2s ease-in-out;
              position: relative;
              border: none;
            }

            .action-button:before,
            .action-button:after {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              width: 0%;
              background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
              transition: width 0.3s ease-in-out;
            }

            .action-button:before {
              left: 0;
            }

            .action-button:after {
              right: 0;
            }

            .action-button:hover:before,
            .action-button:hover:after {
              width: 50%;
            }

            .action-button:hover {
              color: #db2020;
              background-color: #fff;
              transition: all 0.3s ease-in-out;
            }

            .accept:hover{
              color: #00a599;
              background-color: #fff;
              transition: all 0.3s ease-in-out;
            }

            .accept{
              color: #fff;
              background-color: #00a599;
            }
          }
        }

        .custom-card:hover {
          transform: perspective(1000px) rotateY(10deg);

          .custom-card-header {
            // transform: translateY(0);
            transition: transform 0.5s ease;
          }

          .actions{
            top: 80%;
            opacity: 1;
            transition: .25s;
          }

        }

        .custom-card:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
          z-index: 1;
          pointer-events: none;
          transition: opacity 0.25s;
        }

        .custom-card:hover:before {
          opacity: 0;
        }
      }
    }
  }
}

@keyframes card {
  from {
    transform: perspective(400px) rotateY(0);
  }

  to {
    transform: perspective(400px) rotateY(180deg);
  }
}


.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
