
<div class="main-container">
  <div class="header">
    <h2>Friend Requests</h2>
    <h4 style="color: gray;">Lets check if you have any firend requests</h4>
  </div>
  <div class="body">
    <div class="grid">
      <div *ngFor="let request of friendRequests" class="grid-item">
        <div class="custom-card">
          <div class="custom-card-header">
            <div class="header-name">
              Contact Name
              <div class="sub-header">
                +91 9171129056
              </div>
            </div>
          </div>
          <div class="custom-card-content">
            <img class="profile-pic" src="../../../assets/images/profile_pic.jpg" alt="">
          </div>
          <div class="actions"><button class="action-button">Remove contact</button></div>
          <div class="custom-card-footer"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="footer">

  </div>
</div>
