<!-- Login page -->
<div class="main-container">
  <div *ngIf="componentStatus === 'loading'" class="loading-icon">
    <div class="loader-container">
      <div class="loader">
      </div>
    </div>
  </div>
  <div class="h-100 w-100 main-background p-2 flex-al-c-jc-end">
    <div class="login-container">
      <div class="inputs">
        <div class="login-input-container">
          <div class="input-focus-design">
            <input class="login-input" type="text" [(ngModel)]="phone" placeholder="Enter your phone number" (keyup)="$event.keyCode === 13 && login()" />
            <div class="upper-border"></div>
            <div class="bottom-border"></div>
          </div>
          <br />
          <div *ngIf="isPhoneNumberWrong" class="login-error-container">
            <img width="15" height="15" src="../assets/images/warning.png" alt="" />
            Number you have entered does not exists
          </div>
        </div>
        <div class="login-input-container">
          <div class="input-focus-design">
            <input class="login-input" type="password" [(ngModel)]="password" placeholder="Enter your password" (keyup)="$event.keyCode === 13 && login()" />
            <div class="upper-border"></div>
            <div class="bottom-border"></div>
          </div>
          <br />
          <div *ngIf="isPhoneNumberWrong" class="login-error-container">
            <img width="15" height="15" src="../assets/images/warning.png" alt="" />
            Number you have entered does not exists
          </div>
        </div>
      </div>
      <button class="login-button"  [disabled]="!phone.length || !password.length " (click)="login()">Login
      </button>
      <span style="color: grey">--------------------- or ---------------------
      </span>
      <button class="signUp-button" (click)="navigationToSignUp()">Sign up</button>
    </div>
  </div>

</div>
