<!-- Login page -->

<div class="main-container">

  <div class="login-container">
    <img width="120" height="130" src="../assets/images/chatting-app.png" alt="Chat-image" />
    <br />
    <br />
    <div>
      <div class="login-input-container">
        <input class="login-input" type="text" [(ngModel)]="phone" placeholder="Enter your phone number..." (keyup)="$event.keyCode === 13 && login()" />
        <br />
        <div *ngIf="isPhoneNumberWrong" class="login-error-container">
          <img width="15" height="15" src="../assets/images/warning.png" alt="" />
          Number you have entered does not exists
        </div>
      </div>
    </div>
    <button class="login-button" (click)="login()">Login</button>
    <span style="color: grey">--------------------- or ---------------------
    </span>
    <button class="signUp-button">Sign up</button>
  </div>

</div>
