.modal {
  position: absolute;
  width: 500px;
  height: 400px;
  background: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  box-shadow: 0 0 10px rgb(169 169 169 / 50%);
  opacity: 1;

  .modal-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px 25px 25px 25px;

    .modal-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .modal-close-button {
        height: 25px;
        width: 25px;
        cursor: pointer;
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      background: #263238;
      border-radius: 8px;
      gap: 20px;
      margin-top: 5px;
      padding: 10px 10px 25px 10px;
      .add-friends-list {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        .contact {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 30px;
          width: 355px;
          background: #263238;
          border-bottom: 2px solid gray;
          padding: 20px 20px 25px 20px;
          color: #fff;
          font-family: inherit;
          gap: 10px;
          img {
            height: 30px;
            width: 30px;
          }
          .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            img {
              height: 20px;
              width: 20px;
              cursor: pointer;
            }
          }
        }
      }
      .no-requests-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
      }
      .add-friends-list::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
